<nav-gestion></nav-gestion>

<body>
    <div class="container-fluid">
        <h3>Associer</h3>
    </div>

    <div class="container-fluid" id="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom Harnais</th>
                    <th>Parachutiste</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parachute of parachutes | async">
                    <td>{{parachute.nomHarnais}}</td>
                    <td><select [(ngModel)]="formAssociation.parachutiste.id">
                            <option [value]="parachutiste.id" *ngFor="let parachutiste of parachutistes | async">
                                {{parachutiste.nom}}</option>
                        </select></td>
                    <td><button class="btn" (click)="associer(parachute)">Associer</button></td>
                </tr>
            </tbody>
        </table>
    </div>



</body>

<!-- <hr>
<h4>Liste des parachutes par sauteur</h4>
<select [(ngModel)]="formAssociation.parachutiste.nom">
    <option  *ngFor="let parachutiste of parachutistes | async">{{parachutiste.nom}}</option>
</select>
<hr>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Nom du harnais</th>
            <th>Type de securite</th>
            <th>Nom de la voile principale</th>
            <th>Nom de la voile de secours</th>
            <th>Taille de la voile principale</th>
            <th>Taille de la voile de secours</th>
            <th>Date de pliage de la voile de secours</th>
            <th>Propriétaire</th>
            <th>Disponibilité</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let parachute of parachutes | async">
            <td>{{ parachute.nomHarnais }}</td>
            <td>{{parachute.typeSecurite}}</td>
            <td>{{ parachute.nomVoilePrincipale }}</td>
            <td>{{ parachute.nomVoileSecours }}</td>
            <td>{{ parachute.tailleVoilePrincipale }}</td>
            <td>{{ parachute.tailleVoileSecours }}</td>
            <td>{{ parachute.datePliageVoileSecours }}</td>
            <td *ngIf="parachute.estPersonnel==true">Personnel</td>
            <td *ngIf="parachute.estPersonnel==false">NCDROPZONE</td>
            <td *ngIf="parachute.estDisponible==true">Disponible</td>
            <td *ngIf="parachute.estDisponible==false">Indisponible</td>
        </tr>
    </tbody>
</table> -->