<nav-gestion></nav-gestion>


<body>
    <div class="container-fluid">

        <div id="form">
            <label>Nom : </label>
            <input type="text" [(ngModel)]="formAvion.nom" /><br>



            <label>Capacité : </label>
            <input type="text" [(ngModel)]="formAvion.capacite" /><br>




        </div>

        <div id="checkbox">
            <label>Disponibilité : </label>
            <input type="checkbox" value="true" [(ngModel)]="formAvion.estDisponible" />
        </div>
        



        <div id="btn">
            <button (click)="ajouterAvion()" class="btn mr-2">Ajouter</button>
            <button (click)="modifierAvion()" class="btn">Modifier</button>
        </div>
    </div>

    


    <div class="container-fluid" id="table">
        <hr />
        <h3>Liste des avions</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Capacité de l'avion</th>
                    <th>Disponibilité de l'avion</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let avion of avions | async">
                    <td>{{ avion.nom }}</td>
                    <td>{{ avion.capacite }}</td>
                    <td *ngIf="avion.estDisponible==true">Disponible</td>
                    <td *ngIf="avion.estDisponible==false">Indisponible</td>

                    <td>
                        <button (click)="editerAvion(avion)" class="btn  mr-2">Editer</button>
                        <button (click)="supprimerAvion(avion)" class="btn">Supprimer</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</body>