<h1>Liste des vols</h1>

<div>
    <div>
        <label>Nom de l'avion :</label><br />
        <select class="form-select">
            <option *ngFor="let avion of avions | async" [(ngModel)]="formVol.avion" ngDefaultControl>{{ avion.nom }}</option>
        </select>
    </div>

    <div>
        <label>Nom du pilote :</label><br />
        <select class="form-select">
            <option *ngFor="let pilote of pilotes | async" [(ngModel)]="formVol.pilote" ngDefaultControl>{{ pilote.nom }}</option>
        </select>
    </div>

    <div>
        <label>Nom du parachutiste responsable :</label><br />
        <select class="form-select">
            <option *ngFor="let parachutiste of parachutistes | async" [(ngModel)]="formVol.responsable" ngDefaultControl>{{ parachutiste.nom }}</option>
        </select>
    </div>

    <div>
        <label>Etat du vol :</label><br />
        <select class="form-select" id="etats" onchange="if (document.getElementById('etats').value == 'En incidence') {
            document.getElementById('desc_incidence').style.display = 'inline';
        } else {
            document.getElementById('desc_incidence').style.display = 'none';
        };" [(ngModel)]="formVol.etatVol">
            <option id="1" value="En attente">En attente</option>
            <option id="2" value="En préparation">En préparation</option>
            <option id="3" value="En embarquement">En embarquement</option>
            <option id="4" value="En vol">En vol</option>
            <option id="5" value="Terminé">Terminé</option>
            <option id="6" value="En incidence">En incidence</option>
        </select>
    </div>

    <div id="desc_incidence" style="display: none;">
        <label>Description de l'incidence :</label><br />
        <input type="text">
    </div>

    <div>
        <button (click)="ajouterVol()">Ajouter</button>
        <button (click)="modifierVol()">Modifier</button>
    </div>
</div>

<hr />

<table>
    <thead>
        <tr>
            <th>Numéro du vol</th>
            <th>Etat du vol</th>
            <th>Nom de l'avion</th>
            <th>Nom du pilote</th>
            <th>Nom du responsable</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vol of vols | async">
            <td>{{ vol.id }}</td>

            <td>{{ vol.etatVol }}</td>

            <td><div *ngFor="let avion of avions | async">
                <div *ngIf="vol.avion.id == avion.id">
                    {{ avion.nom }}
                </div>
            </div></td>

            <td><div *ngFor="let pilote of pilotes | async">
                <div *ngIf="vol.pilote.id == pilote.id">
                    {{ pilote.nom }}
                </div>
            </div></td>

            <td><div *ngFor="let parachutiste of parachutistes | async">
                <div *ngIf="vol.responsable.id == parachutiste.id">
                    {{ parachutiste.nom }}
                    </div>
                </div>
            </td>
            <td>
                <button (click)="editerVol(vol)">EDITER</button>
            </td>
        </tr>
    </tbody>
</table>