<nav>
    <ul>
        <li>
            <a [routerLink]="['/avion']">Avion</a>
        </li>
        <li>
            <a [routerLink]="['/parachute']">Parachute</a>
        </li>
        <li>
            <a [routerLink]="['/parachutiste']">Parachutiste</a>
        </li>
        <li>
            <a [routerLink]="['/pilote']">Pilote</a>
        </li>
        <li>
            <a [routerLink]="['/saut']">Saut</a>
        </li>
        <li>
            <a [routerLink]="['/vol']">Vol</a>
        </li>
    </ul>
</nav>