body{
    background-image: url("/assets/img/FondPageParachutiste.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding-left: 250px;
    padding-top: 30px;
}

h3{
    margin-top: 10px;
}

div[id="table"]{
    background-color: white;
}

table{
    width: fit-content;
}

button{
    background-color: yellow;
    border-color: black;
    border-width: 3px;
    width: 120px;
    font-weight: bold;
}

button:hover {
    background-color: gray;
    color: yellow;
}

div[id="form"] label{
    display: block;
    width: 300px;
    float: left;
    
}

div[id="checkbox"] label{
    width: 300px;
}

input[type="text"]{
    width: 300px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}

select{
    width: 300px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}

input[type="date"]{
    width: 300px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}

div[id="btn"]{
    
    margin-top: 5px;
}
