<h3>Enregistrement des parachutistes</h3>
<hr>

    <!-- <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Nom</label>
      <input type="text" class="form-control" id="inputNom" placeholder="Entrez votre nom" [(ngModel)]="formParachutiste.nom">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="afficherParachutiste(parachutiste)">Rechercher</button>
    </div>

  <hr> -->

<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>Prochain Saut</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Numero de licence</th>
            <th>Numéro du parachute</th>
            <th>Hauteur du saut</th>
            <th>Saut en groupe</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of parachutistes | async">
            <td><div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkSaut">
              </div></td>
            <td>{{p.nom}}</td>
            <td>{{p.prenom}}</td>
            <td>{{p.numeroLicence}}</td>
            <td><select class="form-select">
                <option *ngFor="let para of parachutes | async">{{para.nomHarnais}}</option>
              </select></td>
            <td><select class="form-select" [(ngModel)]="hauteur">
                <option *ngFor="let s of sauts | async">{{s.hauteur}}</option>
              </select></td>
            <td><div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkGroupe">
              </div></td>
        </tr>    
        
        <tr>
            <td><button class="btn btn-success" id="valider">Valider le saut</button></td>
        </tr>
    </tbody>
</table> -->

<div class="container-fluid" id="formulaire">
    <div id="form">
        <label>Nom</label>
        <input type="text" [(ngModel)]="formParachutiste.nom"><br>

        <!-- <label>Parachute</label>
        <select [(ngModel)]="formParachutiste.parachute">
            <option *ngFor="let p of parachutes | async">{{p.nomHarnais}}</option>
        </select><br>         -->
    </div>
    <button class="btn btn-success" (click)="afficherParachutisteNom(formParachutiste.nom)">Rechercher</button>
    <div>
        
    </div>
</div>

<table class="table table-striped">
  <thead>
      <tr>
          <th>Nom</th>
          <th>Prenom</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let p of parachutistesRecherche | async">
          <td>{{p.nom}}</td>
          <td>{{p.prenom}}</td>          
      </tr>    
      
      <tr>
          <td><button class="btn btn-success" id="valider">Valider le saut</button></td>
      </tr>
  </tbody>
</table>