<body>
  <div class="container-fluid">
    <h3>Enregistrement des parachutistes</h3>
    <hr>
    <div class="container-fluid" id="formulaire">
        <div id="form">
            <label>Nom</label>
            <input type="text" [(ngModel)]="formAvionnage.nom"><br>
        </div>
        <button class="btn mt-2 mb-4" (click)="afficherParachutisteNom()">Rechercher</button>
        <div>
            
        </div>
    </div>
    
    <table class="table table-dark text-center">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Parachute</th>
              <th>Saut</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>{{formAvionnage.nom}}</td>
              <td><select [(ngModel)]="formAvionnage.prenom">
                <option *ngFor="let p of parachutistesRecherche | async" [value]="p.prenom">{{p.prenom}}</option>
            </select></td>
              <td><select [(ngModel)]="formAvionnage.parachute">
                    <option *ngFor="let p of parachutes | async" [value]="p.nomHarnais">{{p.nomHarnais}}</option>
                </select></td>
              <td><select [(ngModel)]="formAvionnage.saut">
                    <option *ngFor="let s of sauts | async" [value]="s.hauteur">{{s.hauteur}}</option>
                </select>m</td>
              <td><button class="btn" (click)="ajouterParachutisteAvionnage()">Selectionner</button></td>          
          </tr>    
      </tbody>
    </table>
  </div>
</body>

