<nav-gestion></nav-gestion>

<body>

    <div class="container-fluid" id="formulaire">
        <div id="form">
            <label>Nom</label>
            <input type="text" [(ngModel)]="formTandem.nom"><br>

            <label>Prenom</label>
            <input type="text" [(ngModel)]="formTandem.prenom"><br>

            <label>Instructeur</label>
            <input type="text" [(ngModel)]="formTandem.nomInstructeur"><br>
            <button class="btn " (click)="afficherParachutisteNomInstructeur()">Rechercher</button>
            <div>Nom de l'instructeur : {{ formTandem.nomInstructeur }}</div>
            <div>
                <select class="form-select" [(ngModel)]="formTandem.prenomInstructeur">
                    <option *ngFor="let p of parachutistesRechercheInstructeur | async" [value]="p.prenom">{{p.prenom}}</option>
                </select>
                Prenom de l'instructeur : {{ formTandem.prenomInstructeur }}
            </div>

            <label>Videoman</label>
            <input type="text" [(ngModel)]="formTandem.nomVideoman"><br>
            <button class="btn " (click)="afficherParachutisteNomVideoman()">Rechercher</button>
            <div>Nom du videoman : {{ formTandem.nomVideoman }}</div>
            <div>
                <select class="form-select" [(ngModel)]="formTandem.prenomVideoman">
                    <option *ngFor="let q of parachutistesRechercheVideoman | async" [value]="q.prenom">{{q.prenom}}</option>
                </select>
                Prenom du videoman : {{ formTandem.prenomVideoman }}
            </div>
            
        </div>
        <div>
            <button class="btn mr-2" (click)="ajouterTandem()">Ajouter</button>
            <button class="btn " (click)="modifierTandem()">Modifier</button>
        </div>
    </div>

    

    <div class="container-fluid" id="table">
        <hr>
        <h3>Liste des tandems</h3>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Instructeur</th>
                    <th>Videoman</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tandems | async">
                    <td>{{t.nom}}</td>
                    <td>{{t.prenom}}</td>
                    <td>{{t.nomInstructeur}}, {{t.prenomInstructeur}}</td>
                    <td>{{t.nomVideoman}}, {{t.prenomVideoman}}</td>
                    <td>
                        <button class="btn mr-2" (click)="editerTandem(t)">Editer</button>
                        <button class="btn " (click)="supprimerTandem(t)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>