<div>
    <label>Date de licence</label>
    <input type="checkbox" [(ngModel)]="formParachutiste.isBeerLined">
</div>
<div>
    <button class="btn btn-warning" (click)="editerParachutiste(parachutiste)">Editer</button>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>BeerLine</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of parachutistes | async">
            <td>{{ p.nom }}</td>
            <td>{{ p.prenom }}</td>
            <td *ngIf="p.isBeerLined==false">NON</td>
            <td *ngIf="p.isBeerLined==true">OUI</td>

            <td>
                <button (click)="ajouterRetirerBeerLine()" class="btn btn-warning">Ajouter/Retirer de la beerLine</button>
            </td>
        </tr>
    </tbody>
    </table>