<body>
    <h1>Liste des parachutistes</h1>
    <hr>
    <div>
        
        <div>
            <label>BeerLined?</label>
            <input type="checkbox" [(ngModel)]="formParachutiste.isBeerLined">
        </div>
        <div>
            <button class="btn btn-warning" (click)="modifierParachutiste()">Sauvegarder la modification</button>
        </div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>BeerLine</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of parachutistes | async">
                <td>{{p.nom}}</td>
                <td>{{p.prenom}}</td>
                <td>{{p.isBeerLined}}</td>
                <td><button class="btn btn-warning" (click)="editerParachutiste(p)">Editer</button></td>
            </tr>
        </tbody>
    </table>
    </body>
    