<nav-gestion></nav-gestion>

<body>

    <div class="container-fluid" id="formulaire">
        <div id="form">
            <label>Nom</label>
            <input type="text" [(ngModel)]="formParachutiste.nom"><br>

            <label>Prenom</label>
            <input type="text" [(ngModel)]="formParachutiste.prenom"><br>

            <label>Numero de licence</label>
            <input type="text" [(ngModel)]="formParachutiste.numeroLicence"><br>

            <label>Date de licence</label>
            <input type="date" [(ngModel)]="formParachutiste.dateLicence"><br>

            <label>Niveau du parachutiste</label>
            <select [(ngModel)]="formParachutiste.niveau">
                <option>Pratiquant</option>
                <option>Instructeur</option>
            </select>
        </div>
        <div>
            <button class="btn mr-2" (click)="ajouterParachutiste()">Ajouter</button>
            <button class="btn " (click)="modifierParachutiste()">Modifier</button>
        </div>
    </div>

    

    <div class="container-fluid" id="table">
        <hr>
        <h3>Liste des parachutistes</h3>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Numero de licence</th>
                    <th>Date de licence</th>
                    <th>Niveau du parachutiste</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of parachutistes | async">
                    <td>{{p.nom}}</td>
                    <td>{{p.prenom}}</td>
                    <td>{{p.numeroLicence}}</td>
                    <td>{{p.dateLicence}}</td>
                    <td>{{p.niveau}}</td>
                    <td>
                        <button class="btn mr-2" (click)="editerParachutiste(p)">Editer</button>
                        <button class="btn " (click)="supprimerParachutiste(p)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>