<nav>
    <ul class="navbar-nav">
        <li>
            <a [routerLink]="['/avion']">Gestion des Avions</a>
        </li>
        <li>
            <a [routerLink]="['/parachute']">Gestion des Parachutes</a>
        </li>
        <li>
            <a [routerLink]="['/parachutiste']">Gestion des Parachutistes</a>
        </li>
        <li>
            <a [routerLink]="['/pilote']">Gestion des Pilotes</a>
        </li>
        <li>
            <a [routerLink]="['/saut']">Gestion des Sauts</a>
        </li>
        <li>
            <a [routerLink]="['/vol']">Gestion des Vols</a>
        </li>
        <li>
            <a [routerLink]="['/beerline']">Beer Line</a>
        </li>
    </ul>
</nav>
