<h3>Avionnages en cours</h3>

<hr />

<h6 style="text-align: center;">Liste des avions</h6>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom de l'avion</th>
            <th>Numéro de vol</th>
            <th>Etat du vol</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let vol of vols | async">
            
            <td>{{ vol.etatVol }}</td>

        </tr>
    </tbody>
</table>

<hr />

<h6 style="text-align: center;">Liste des parachutistes</h6>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom du parachutiste</th>
            <th>Prénom du parachutiste</th>
            <th>Numéro de licence</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let parachutiste of parachutistes | async">
            
            <td>{{ parachutiste.nom }}</td>
            <td>{{ parachutiste.prenom }}</td>
            <td>{{ parachutiste.numeroLicence }}</td>

        </tr>
    </tbody>
</table>




